@model MVCCIMotorsForms.Models.CustomerViewClass
@{
    ViewBag.Title = "Customer Information";
}

<h2>Customer Information</h2>
<table>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Customers[0].PersonId)
        <tr>
            <td>
                @Html.LabelFor(m => m.Customers[0].FirstName)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Customers[0].FirstName)
            </td>

        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Customers[0].LastName)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Customers[0].LastName)
            </td>
        </tr>
        
        <tr>
            <td>
                @Html.LabelFor(m => m.Customers[0].Address1)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Customers[0].Address1)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.SuburbTypes)
            </td>
            <td>
                @Html.DropDownListFor(m => m.Customers[0].SuburbId,
                                            new SelectList(Model.SuburbTypes, "Value", "Text"))
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Customers[0].Address2)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Customers[0].Address2)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Customers[0].PhoneNumber)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Customers[0].PhoneNumber)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save Customer" />
            </td>
        </tr>


    }

</table>



