@model MVCCIMotorsForms.Models.StaffViewClass
@{
    ViewBag.Title = "Edit Staff Member";
}


<h2>Staff Member Information</h2>
<table>
    @using (Html.BeginForm())
    {
       @Html.HiddenFor(m => m.Staffs[0].PersonId)
        <tr>
            <td>
                @Html.LabelFor(m => m.Staffs[0].FirstName)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Staffs[0].FirstName)
            </td>

        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Staffs[0].LastName)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Staffs[0].LastName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Staffs[0].Salary)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Staffs[0].Salary)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Staffs[0].Address1)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Staffs[0].Address1)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Staffs[0].Address2)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Staffs[0].Address2)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.SuburbTypes)
            </td>
            <td>
                @Html.DropDownListFor(m => m.Staffs[0].SuburbId,
                                            new SelectList(Model.SuburbTypes, "Value", "Text"))
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Staffs[0].PhoneNumber)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Staffs[0].PhoneNumber)
            </td>
        </tr>
       
        <tr>
            <td>
                @Html.LabelFor(m => m.PersonTypes)
            </td>
            <td>
                @Html.DropDownListFor(m => m.Staffs[0].PersonTypeId,
                                            new SelectList(Model.PersonTypes, " Value", "Text"));
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save Staff" />
            </td>
        </tr>
             
        
    }

</table>


